body{
    text-align: center;
    background-color:	#FF99FF;
}
h1{
    font-size: 50px;
}
p{
    font-size: 23px;
}
.form-rows{
    position: static;
    display: block;
}
.master-div-style{
    margin: auto;
    width: 800px;
    background-color: #f3f3f3;
    border-radius: 7px;
    padding: 20px 10px 10px 10px;
}
.labels{
    display: inline-block;   
    width: 40%;
    vertical-align: top;
    margin-top: 10px;
    padding: 5px 1px 5px;
  
}
.fields{
    display: inline-block;
    vertical-align: top;
    padding: 5px 0px 5px 0px;

}
.input-fileds{
    height: 20px;
    width: 280px;
    padding: 5px;
    margin: 5px;
    border: 1px solid  #c0c0c0 ;
    border-radius: 4px;
}
.dropdown {
    height: 35px;
    width: 140px;
    padding: 5px;
    margin: 15px 10px 10px 10px;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
  }
  
  .radio {
    position: relative;
    left: -43px;
    margin-left: 10px;
    display: block;
    padding-bottom: 10px;
  }
  
  .user-selection {
    float: left;
    margin-right: 5px;
  }
  .button {
    font-size: 1em;
    background-color: #6ba2ce;
    color: white;
    border: 0px solid;
    border-radius: 4px;
    height: 40px;
    width: 80px;
    margin: 10px;
  }